@font-face {
    font-family:PrompMeduim;
    src: url(/Port/font/Prompt_Medium/Prompt\ Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family:PrompMeduim;
}


.container{
    /*max-width: 960px;
    width: 100%;*/
    margin: 0 auto;
    padding-top: 60px;
}
.header{
    width: 100%;
    height: 150px;
    background: #4E495C;
    
}

.navigation ul{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
}

.navigation ul li{
    list-style-type:none ;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
}
.navigation ul li a{
    text-decoration: none;
    color: whitesmoke;
    
}
.navigation ul li a .icon{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 75px;
    font-size: 30px;
    transition: 0.5s;
}
.navigation ul li:hover a .icon{
    transform: translateY(-20px);
}
.navigation ul li a .text{
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    opacity: 0;
}
.navigation ul li:hover a .text{
    opacity: 1;
}
.grid-content{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 20% 30% 20% 30%;
}
.grid-content .topic{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
    margin-top: -5px;
    background: rgb(84,79,99);
    background: linear-gradient(90deg, rgba(84,79,99,1) 0%, rgba(153,129,215,1) 100%);
}

.grid-content .topic .education{
    padding-top: 10%;
    padding-left: 60%;
    text-shadow: 2px 2px rgb(84,79,99);
}
/*.grid-content .topic .education .content-education{
    
}*/
.grid-content .topic .img-content{
    background: url(editbg.png);
    background-position: 75%;
    background-position-y: 120px;
    background-size: contain;
    background-repeat: no-repeat; 
    background-attachment:fixed ;
}
.grid-content .servive-grid{
    margin: 0 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    padding: 20px 0;
}
.grid-content .servive-grid .servive-item {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4E495C;
    color: white;
    border-radius: 20px;
    padding: 10% ;
    transition: 0.5s ease-in;
    box-shadow: 2px 3px 10px 8px rgba(0, 0, 0, 0.16);
    text-decoration: none;
}.servive-item span{
    display: grid;
    padding: 0 5px;
    padding-bottom: 10%;
}
.grid-content .servive-grid a{
    text-decoration: none;
    color: white;
}
.grid-content .servive-grid .servive-item .logo{
    padding: 0 10%;
    padding-bottom: 10%;
    margin-bottom: -10%;
    font-size: 150px;
    transition: 0.5s;
}
.grid-content .servive-grid .servive-item:hover {
    background-color: #958BB0;
    color: #4E495C;
    cursor: pointer;
}

/*.grid-content .servive-grid .servive-item .logo:hover{
    font-size: 220px;
    color: white;
}*/


.grid-content .hard-skill{
    padding-top: 50px;
    text-align: center;
    margin-top: 5%;
    background-color: #4E495C;
}
.grid-content .hard-skill span{
    font-size: 50px;
    color: white;
}
.content-hard-skill .creative{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding-top: 5px;
    
}
.content-hard-skill .creative .hlogo {
    padding: 20px 20px;
    margin: 1%;
    border-radius: 20px;
    background-color: #958BB0;
    font-size: 30px;
}
.content-hard-skill .creative .hlogo img{
    justify-content: center;
    width: 20%;
}


.grid-content .soft-skill{
    padding-top: 50px;
    text-align: center;
    margin-top: 5%;
    margin-top: 20px;
}
.grid-content .soft-skill h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.grid-content .content-soft-skill{
    justify-content: center;
}
.soft{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}
.soft .slogo{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    margin: 14px;
    font-size: 30px;
    transition: 0.5s;
    border-radius: 20px;
    

}
.soft .slogo:hover{
    background-color: #AD9FD6;
    transform: translateY(-2px);
    box-shadow: 2px 3px 10px 8px rgba(0, 0, 0, 0.16);
}
.soft .slogo img{
    margin-left: 35%;
    width: 30%;
    transition: 0.5s ease-in;
}

.soft .slogo .soft_text{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 500;
    transition: 0.5s;
    opacity: 0;
}
.soft .slogo:hover .soft_text{
    transition: 0.5s;
    opacity: 1;
}
.grid-content .content-soft-skill .soft .slogo .img{
    width: 30%;
}


.grid-content .hobby{
    
    text-align: center;
    margin-top: 20px;
    background-color: #4E495C;
    font-size: 30px;
    color: white;
    padding-top:  50px; ;
    margin-bottom: 50px;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 65%;
    padding: 50px;
}
.item1{
    padding-top: 40%;
    justify-content: center;
    background-image: url(/Port/about/hobby/fps.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.item2{
    padding-top: 40%;
    background-image: url(/Port/about/hobby/gunpla.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.item3{
    padding-top: 40%;
    background-image: url(/Port/about/hobby/Treadmill.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.item4{
    padding-top: 40%;
    background-image: url(/Port/about/hobby/godzilla.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    
}
.item1 p{
    opacity: 0;
    transition: 0.5s;
}
.item2 p{
    opacity: 0;
    transition: 0.5s;
}
.item3 p{
    opacity: 0;
    transition: 0.5s;
}
.item4 p{
    opacity: 0;
    transition: 0.5s;
}

.item1:hover .htext{
    font-size: 80px;
    opacity: 1;
    text-shadow: 2px 2px rgb(84,79,99);
}
.item2:hover .htext{
    font-size: 80px;
    opacity: 1;
    text-shadow: 2px 2px rgb(84,79,99);
}
.item3:hover .htext{
    font-size: 80px;
    opacity: 1;
    text-shadow: 2px 2px rgb(84,79,99);
}
.item4:hover .htext{
    font-size: 80px;
    opacity: 1;
    text-shadow: 2px 2px rgb(84,79,99);
}
